.wedetteContainer{
    background-color: #1B1B1B;
    width: 100%;
    display: flex;
    position: relative;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.wedetteCover{
    width: 30%;
    position: relative;
}

.wedetteCoverImage{
    width: 100%;
}

.btnPlay{
    position: absolute;
    width: 60px;
    right: 40px;
    bottom: 35px;
}


.wedetteIndicator{
    padding: 2%;
    margin-top: 10px;
}

.wedetteDescription{
    width: 35em;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.wedetteTitle{
    text-decoration: underline;
    text-decoration-color: #7FC3E0 ;
    margin-bottom: 20px;
}

.wedetteSynopsis{
    text-align: justify;
}



.backgroundImg{
    position: absolute;
    opacity: 0.20;
    right: 0;
    bottom: -1000;
    width: 20%;
}

