  .home {
      overflow-y: hidden ;
      height: 100vh;
      background: url(/img/background.jpg);
      background-size: contain;
      background-position-y: -60px;
      display: flex;
      flex-direction: column;
  }

  .btn-txt {
      text-decoration: none;
      color: #fff;
      font-family: "Pontano Sans", sans-serif;
      font-weight: bold;
      font-size: 1.3em;
      border: none;
  }

  .btn-variant {
    width: 134px;
    height: 34px;
    background: #C4C4C4;
    border-radius: 7px;
    border: none;
    margin-right: 20px;
    transition: background-color .2s ease-in;
  }
  .btn-variant:hover {
    width: 134px;
    height: 34px;
    background: #C4C4C4;
    border-radius: 7px;
    border: none;
    margin-right: 20px;
    transition: background-color .2s ease-in;
  }

  .btn-base {
    background: #A487B3;
    border: none;
    border-radius: 7px;
    width: 134px;
    height: 34px;
  }

  .wrap {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .center-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #242424;
      filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.26));
      border-radius: 4px;
      padding: 70px;
  }

  .center-title h2, .center-title h3{
      font-size: 30px;
      color: #C4C4C4;
  }

  strong {
      color: #A487B3;
      font-size: 1.5em;
  }